.energy-meter {
	/* display: inline-block; */
	float: left;
	/* top: 10%; */
	height: 80%;
	width: 15%;
	/* background-color: red; */
	/* border: 5px dotted blue; */
	position: relative;
}

.power-level-1 {
	display: block;
	margin-top: 2%;
	height: 3%;
	width: 80%;
	left: 10%;

	position: relative;
	border-radius: 35%;
	border: 0.5px solid grey;
}

.power-level-2 {
	display: block;
	margin-top: 2%;
	height: 3%;
	width: 70%;
	left: 15%;

	position: relative;
	border-radius: 35%;
	border: 0.5px solid grey;
}

.power-level-3 {
	display: block;
	margin-top: 2%;
	height: 3%;
	width: 60%;
	left: 20%;

	position: relative;
	border-radius: 35%;
	border: 0.5px solid grey;
}

.first-power-level {
	margin-top: 5%;
}

.green {
	background-color: green;
}

.yellow {
	background-color: yellow;
}

.red {
	background-color: red;
}
