.ball {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	/* background: #a2a4a6; */
	background-image: linear-gradient(to bottom, #616661 65%, #525452);
	top: calc(100% - 100px);
	/* top: calc(80% - 100px); */
	left: calc(50% - 50px);
	position: absolute;
	box-shadow: -2px 4px 8px #6b6e6b;
}

.gameFrame {
	/* display: inline-block; */
	float: left;
	height: 80%;
	width: 70%;
	max-width: 100%;
	position: relative;
	/* border: 2px red dotted; */
	border-width: 5px;
	background-image: linear-gradient(to bottom, #d7ded7 25%, #f5f7f5);
	overflow: hidden;
}
